body {
    padding: 0;
    margin: 0;

    color: var(--col3);
    background-color: var(--col1);

    font-family: var(--font);
    font-size: 16px;
}





#header{
    background-color: var(--col2);

}






.pc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pc a{
    padding: 0.5vh;
    color: var(--col3);
    font-size: 3vh;
}
.pc a:visited{
    color: var(--col3);
}

.pc #links a{
    padding: 0.5vh 1vh 0 0;
}
.pc #links a{
    text-decoration: none;
    color: var(--col3);
}
.pc #links a:visited{
    color: var(--col3);
}




#theme-toggle{
    padding: 1vh;
}
.switch {
    position: relative;
    display: inline-block;

    width: 4vh;
    height: 2vh;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: 1vh;

    cursor: pointer;

    background-color: #ccc;

    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before{
    position: absolute;

    content: "";

    height: 1.3vh;
    width: 1.3vh;
    left: 0.35vh;
    bottom: 0.35vh;

    border-radius: 50%;

    background-color: white;

    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2194f3;
}
input:checked + .slider:before{
    -webkit-transform: translateX(2vh);
    -ms-transform: translateX(2vh);
    transform: translateX(2vh);
}